// FONT
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:100,200,300,400,500,600,700,800&subset=vietnamese,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,600,700,800&subset=vietnamese,latin-ext");

// END FONT

// VAR
	$color: #003975;
	$color-hover: #83aa45; 
	$color-yellow: #ffde00;
	$color-brown: #bb8f2d;

// END VAR

//MIXIN
	@mixin content{
		display: block;
		float: left;
		width: 100%;
		padding: 0;
		margin: 0;
		position: relative;
	}

	@mixin transition{
		transition: all 0.2s ease-out 0s;
		-webkit-transition: all 0.2s ease-out 0s;
	}

	@mixin transition-slow{
		transition: all 0.5s ease-out 0s;
		-webkit-transition: all 0.5s ease-out 0s;
	}

	@mixin shadow{
		-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
		box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	}

	@mixin shadow-bold{
		-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
		box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
	}

	@mixin shadow-input{
	    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	}
	@mixin center{
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	@mixin flex{
		display: -ms-flexbox;
	    display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
	}
	
	@mixin flex-center{
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
		flex-wrap: wrap;
	    -ms-flex-pack: center;
	    -webkit-justify-content: center;
	    justify-content: center;
	    -ms-flex-align: center;
	    -webkit-align-items: center;
	    align-items: center;
	}

	@mixin filter{
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	    filter: grayscale(100%);
	}
	@mixin none-filter{
		-webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
	    filter: grayscale(0);
	}

	@mixin other{		
		font-family: 'Playfair Display', 'Arial', sans-serif;
	}

	@mixin font{		
		font-family: 'GeorgiaBallpark Script', 'Arial', sans-serif;
	}

	@mixin filter{
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	    filter: grayscale(100%);
	}
	@mixin none-filter{
		-webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
	    filter: grayscale(0);
	}

	@mixin scale{		
		-ms-transform: scale(1.1); /* IE 9 */
		-webkit-transform: scale(1.1); /* IE 9 */
		transform: scale(1.1); /* IE 9 */
	}
//END MIXIN

/*Body*/
	body{
		font-family: 'Barlow', 'Arial', sans-serif;
		font-size: 14px;
		// background: $color;
		font-weight: normal;
	}

	body.none-scroll{
		overflow: hidden;
	}
	
	a{cursor: pointer}
	a:hover{text-decoration: none;}	

	div.wpcf7-response-output{
		float: left;
		width: 100%;
		color: #000 !important;
		margin: 20px 0 0 0 !important;
	}
	span.wpcf7-not-valid-tip{
		margin-top: 7px;
	}

	.no-style{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	img{
		max-width: 100%;
	}
	
@media (min-width: 1200px){
	.container{
		max-width: 1230px; 
	}
	.container-fluid{
		padding-left: 140px;
		padding-right: 70px;
		max-width: 1450px;
	}
}

.show-mobile{
	display: none !important;
}
.show-ipad,
.show-1200{
	display: none !important;
}

@media (max-width: 1200px){
	.show-1200{
		display: block !important;
	}
	.hide-1200{
		display: none !important;
	}
}

@media (max-width: 992px){
	.show-ipad{
		display: block !important;
	}
	.hide-ipad{
		display: none !important;
	}
}

@media (max-width: 767px){
	.show-mobile{
		display: block !important;
	}
	.hide-mobile{
		display: none !important;
	}
}